.branches {
    background: white;
    width: 100%;

    &::before {
        color: rgba(0, 0, 0, .3);
        content: 'branches: ';
    }

    span {
        color: blue;
        margin: 0 20px;
    }
}
