.repos {

    &_header,
    &_item {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;

        > div,
        > li {
            padding: 15px;
        }
    }

    &_item {
        &:nth-child(odd) {
            background: rgba(0, 0, 0, .1);
        }

        &:hover {
            background: rgba(220, 220, 250, 1);
            color: blue;
        }
    }

    &_list {
        margin: 0;
        padding: 0;
    }

    &_header {
        margin-bottom: 30px;
    }

    &_name {
        width: 30%;
    }

    &_created,
    &_updated {
        width: 20%;
    }

    &_forks {
        flex-grow: 1;
        text-align: right;
    }
}
