.repos {
    &_list {
        counter-reset: section;
        margin: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;

            &::before {
                content: counter(section) '.';
                counter-increment: section;
                display: inline-block;
                padding: 10px;
            }
        }
    }

    &_item {
        .repos_loader {
            display: none;
            visibility: visible;
        }
    }

    &_loader {
        animation: loader .4s infinite linear;
        color: gray;
        display: block;
        margin: 10px auto;
        padding: 0 10px;
        visibility: hidden;
        width: 100px;
    }

    @keyframes loader {

        0%,
        99% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    &_branches {
        color: blue;
        display: grid;
        flex-grow: 1;
        grid-template-columns: 25% 25% 25% 25%;
        max-height: 45px;
        overflow: hidden;
        transition: all .5s linear;

        &.open {
            max-height: 400px;
        }

        &.closed {
            max-height: 45px;

            span {
                opacity: 0;
                visibility: hidden;
            }
        }

        span {
            box-sizing: border-box;
            opacity: 0;
            padding: 10px;
            transition: opacity .5s;
        }
    }

    &_name {
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        transition: background .2s;
        width: 300px;

        &:hover {
            background: rgba(0, 0, 0, .2);
        }
    }
}
